In [2]:
import pyspark

In [3]:
from pyspark.sql import Row
from pyspark import SQLContext

In [4]:
from pyspark import SparkContext

In [5]:
sc = SparkContext()

22/01/24 22:10:55 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
22/01/24 22:10:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/24 22:10:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/24 22:10:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
nums= sc.parallelize([1,2,3,4])  #this creates a RDD

In [7]:
nums.take(3)

[1, 2, 3]

In [8]:
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print(num)

1
4
9
16

In [9]:
sqlContext = SQLContext(sc)

/Users/ayusman/migrate/hadoop/myvenv/lib/python3.9/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [10]:
list1 = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd1 = sc.parallelize(list1)

In [11]:
rdd1.take(2)

[('John', 19), ('Smith', 29)]

In [12]:

ds = rdd1.map(lambda x: Row(name =x[0], age =x[1]))
df_ppl = sqlContext.createDataFrame(ds)

In [14]:
df_ppl.show(5)

+-----+---+
| name|age|
+-----+---+
| John| 19|
|Smith| 29|
| Adam| 35|
|Henry| 50|
+-----+---+