### Creating a dataset from a sequence

In [1]:
//

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.2:4040
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1643260998519)
SparkSession available as 'spark'

In [3]:
val ds1 = Seq(1,2,3,4).toDS()

ds1: org.apache.spark.sql.Dataset[Int] = [value: int]

### Create a dataset from sequence of case classess

In [4]:
case class Person(var name :String, var age: Int)

defined class Person

In [5]:
val ds = Seq(Person("Max", 33), Person("Adam", 32), Person("Muller", 62)).toDS()
ds.show()

+------+---+
|  name|age|
+------+---+
|   Max| 33|
|  Adam| 32|
|Muller| 62|
+------+---+

ds: org.apache.spark.sql.Dataset[Person] = [name: string, age: int]

### Create a dataset from RDD

In [ ]:
val rdd = sc.parallelize(Seq((1, "Spark"), (2, "Databricks")))
val langDS = rdd.toDS()

In [ ]:
langDS.show()

#### Create a dataset from Dataframe

In [28]:
// You can call df.as[SomeCaseClass] to convert the DataFrame to a Dataset.
// df.as[case_class]

In [26]:
case class Company(name: String, foundingYear: Int, numEmployees: Int)
val inpSeq = Seq(Company("ABC", 1998, 310), Company("XYZ", 1983, 904), Company("NOP", 2005, 83))
val companyDF = inpSeq.toDF()
companyDF.show(2)

+----+------------+------------+
|name|foundingYear|numEmployees|
+----+------------+------------+
| ABC|        1998|         310|
| XYZ|        1983|         904|
+----+------------+------------+
only showing top 2 rows

defined class Company
inpSeq: Seq[Company] = List(Company(ABC,1998,310), Company(XYZ,1983,904), Company(NOP,2005,83))
companyDF: org.apache.spark.sql.DataFrame = [name: string, foundingYear: int ... 1 more field]

In [27]:
val companyDS = companyDF.as[Company]
companyDS.show(2)

+----+------------+------------+
|name|foundingYear|numEmployees|
+----+------------+------------+
| ABC|        1998|         310|
| XYZ|        1983|         904|
+----+------------+------------+
only showing top 2 rows

companyDS: org.apache.spark.sql.Dataset[Company] = [name: string, foundingYear: int ... 1 more field]

In [ ]:
// we can also convert a DF into DS by only specifying the input types 
val companyDS2 = companyDF.as[(Int, )]