In [3]:
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [16]:
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.master("local[2]").appName("Session 1").getOrCreate()

22/01/24 14:10:12 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.236 instead (on interface en0)
22/01/24 14:10:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/24 14:10:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
# reading csv file

In [7]:
csv_file = './data/basic.csv'

In [8]:
df = spark.read.csv(csv_file)

In [13]:
df = spark.read.csv('./data/stocks_price_final.csv', sep=',', header=True)

In [14]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- open: string (nullable = true)
 |-- high: string (nullable = true)
 |-- low: string (nullable = true)
 |-- close: string (nullable = true)
 |-- volume: string (nullable = true)
 |-- adjusted: string (nullable = true)
 |-- market.cap: string (nullable = true)
 |-- sector: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- exchange: string (nullable = true)

In [12]:
# spark infers the schema from the data but sometimes the inferred datatype is not correct.
#so we need to define our own schema to be able to work properly
# done with StructType
# and can be specified while reading the data from the file

In [17]:
data_schema = [
               StructField('_c0', IntegerType(), nullable=True),
               StructField('symbol', IntegerType(), nullable=True), 
               StructField('data', DateType(), True),
               StructField('open', DoubleType(), True),
               StructField('high', DoubleType(), True),
               StructField('low', DoubleType(), True),
               StructField('close', DoubleType(), True),
               StructField('volume', IntegerType(), True),
               StructField('adjusted', DoubleType(), True),
               StructField('market.cap', StringType(), True),
               StructField('sector', StringType(), True),
               StructField('industry', StringType(), True),
               StructField('exchange', StringType(), True),


]

In [18]:
final_schema = StructType(fields = data_schema)

In [67]:
df = spark.read.csv('./data/stocks_price_final.csv', header=True, sep=',' , schema=final_schema)

In [1]:
df.printSchema()

NameError: name 'df' is not defined

### methods to inspect data

In [69]:
df.schema

StructType(List(StructField(_c0,IntegerType,true),StructField(symbol,IntegerType,true),StructField(data,DateType,true),StructField(open,DoubleType,true),StructField(high,DoubleType,true),StructField(low,DoubleType,true),StructField(close,DoubleType,true),StructField(volume,IntegerType,true),StructField(adjusted,DoubleType,true),StructField(market.cap,StringType,true),StructField(sector,StringType,true),StructField(industry,StringType,true),StructField(exchange,StringType,true)))

In [70]:
df.dtypes

[('_c0', 'int'),
 ('symbol', 'int'),
 ('data', 'date'),
 ('open', 'double'),
 ('high', 'double'),
 ('low', 'double'),
 ('close', 'double'),
 ('volume', 'int'),
 ('adjusted', 'double'),
 ('market.cap', 'string'),
 ('sector', 'string'),
 ('industry', 'string'),
 ('exchange', 'string')]

In [71]:
df.show(5)

+---+------+----------+---------+---------+---------+---------+-------+---------+----------+-------------+--------------------+--------+
|_c0|symbol|      data|     open|     high|      low|    close| volume| adjusted|market.cap|       sector|            industry|exchange|
+---+------+----------+---------+---------+---------+---------+-------+---------+----------+-------------+--------------------+--------+
|  1|  null|2019-09-12|     54.0|     58.0|     51.0|    52.75|7326300|    52.75|    $9.31B|Capital Goods|Biotechnology: La...|  NASDAQ|
|  2|  null|2019-09-13|    52.75|   54.355|49.150002|    52.27|1025200|    52.27|    $9.31B|Capital Goods|Biotechnology: La...|  NASDAQ|
|  3|  null|2019-09-16|52.450001|     56.0|52.009998|55.200001| 269900|55.200001|    $9.31B|Capital Goods|Biotechnology: La...|  NASDAQ|
|  4|  null|2019-09-17|56.209999|60.900002|   55.423|56.779999| 602800|56.779999|    $9.31B|Capital Goods|Biotechnology: La...|  NASDAQ|
|  5|  null|2019-09-18|56.849998|    62.27|55.650002|     62.0|1589600|     62.0|    $9.31B|Capital Goods|Biotechnology: La...|  NASDAQ|
+---+------+----------+---------+---------+---------+---------+-------+---------+----------+-------------+--------------------+--------+
only showing top 5 rows

22/01/24 16:00:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , symbol, date, open, high, low, close, volume, adjusted, market.cap, sector, industry, exchange
 Schema: _c0, symbol, data, open, high, low, close, volume, adjusted, market.cap, sector, industry, exchange
Expected: _c0 but found:
CSV file: file:///Users/ayusman/migrate/hadoop/Spark/data/stocks_price_final.csv

In [72]:
df.describe().show()

22/01/24 16:00:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , symbol, open, high, low, close, volume, adjusted, market.cap, sector, industry, exchange
 Schema: _c0, symbol, open, high, low, close, volume, adjusted, market.cap, sector, industry, exchange
Expected: _c0 but found:
CSV file: file:///Users/ayusman/migrate/hadoop/Spark/data/stocks_price_final.csv

+-------+-----------------+------+------------------+------------------+------------------+------------------+------------------+------------------+----------+----------------+--------------------+--------+
|summary|              _c0|symbol|              open|              high|               low|             close|            volume|          adjusted|market.cap|          sector|            industry|exchange|
+-------+-----------------+------+------------------+------------------+------------------+------------------+------------------+------------------+----------+----------------+--------------------+--------+
|  count|          1729034|     0|           1726301|           1726301|           1726301|           1726301|           1725207|           1726301|   1729034|         1729034|             1729034| 1729034|
|   mean|         864517.5|  null|15070.071703341051| 15555.06726813709|14557.808227578982|15032.714854330707|1397692.1627885813|  14926.1096887955|      null|            null|                null|    null|
| stddev|499129.2670065541|  null|1111821.8002863196|1148247.1953514954|1072968.1558434265|1109755.9294000647| 5187522.908169119|1101877.6328940107|      null|            null|                null|    null|
|    min|                1|  null|             0.072|             0.078|             0.052|             0.071|                 0|         -1.230099|    $1.01B|Basic Industries|Accident &Health ...|  NASDAQ|
|    max|          1729034|  null|      1.60168176E8|      1.61601456E8|      1.55151728E8|      1.58376592E8|         656504200|      1.57249392E8|       $9B|  Transportation|Wholesale Distrib...|    NYSE|
+-------+-----------------+------+------------------+------------------+------------------+------------------+------------------+------------------+----------+----------------+--------------------+--------+

### Column manipulation

In [73]:
#creating column
df = df.withColumn('date', df.data)

In [74]:
#df.show(5)

In [75]:
#rename column
df = df.withColumnRenamed('date', 'date_changed')

In [76]:
#df.show(5)

In [77]:
#delete column
df = df.drop('date_changed')

In [78]:
#df.show(5)

### Dealing with missing values

In [79]:
# 4 ways to deal with them
#1. dropping the row
#2. fill with mean
#3. fill with most frequent
#4. fill using KNN (k Nearest Neighbour)

In [80]:
df.na.drop()

AnalysisException: Cannot resolve column name "market.cap" among (_c0, symbol, data, open, high, low, close, volume, adjusted, market.cap, sector, industry, exchange); did you mean to quote the `market.cap` column?