In [3]:
import pyspark
from pyspark import Row
from pyspark import SQLContext
from pyspark import SparkContext

In [4]:
sc = SparkContext()

22/01/24 13:21:44 WARN Utils: Your hostname, Ayushmans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.236 instead (on interface en0)
22/01/24 13:21:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/24 13:21:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/24 13:21:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
arr = [1,2,3,4,5]

In [6]:
rdd_arr = sc.parallelize(arr)

In [7]:
rdd_arr.take(2)

[1, 2]

In [8]:
sqrd = rdd_arr.map(lambda x: x*x).collect()
for i in sqrd:
    print(i)

1
4
9
16
25

In [10]:
sqlContext = SQLContext(sc)

/Users/ayusman/migrate/hadoop/myvenv/lib/python3.9/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [11]:
list1 = [('Ram', 21), ('Ram2', 25), ('Shyam', 21), ('Hari', 23)]

In [12]:
rd_list1 = sc.parallelize(list1)

In [17]:
ds_ppl = rd_list1.map(lambda x: Row(name = x[0], age = x[1]))

In [18]:
df_ppl = sqlContext.createDataFrame(ds_ppl)

In [20]:
df_ppl.take(2)

[Row(name='Ram', age=21), Row(name='Ram2', age=25)]

In [21]:
df_ppl.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)